* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../assets/images/background.svg");
  background-size: 960px 540px;
}

.intro {
  width: 90vw;

  padding: 1rem;
  margin-top: 1rem;

  background: rgba(41,182,246 ,1);
  color: rgba(1,87,155 ,1);
}

main, header, footer {
  width: 60vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {


  display: flex;
  justify-content: flex-end;
}

.main-nav > a {
  margin-left: 25px;
}
