@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
.g__wrapper {
  display: block;
  margin: 0;
  padding: 0; }

.g__container {
  /* wrapper heeft altijd 1 container */
  display: block;
  max-width: 1140px;
  /* altijd 1140 px */
  margin: 0 auto;
  /* centreert */
  padding: 0px 24px; }

.g__row {
  /* een container bevat meerdere rijen met dezelfde content */
  display: block;
  margin: 0px -24px;
  padding: 0;
  overflow: hidden; }

.g__column {
  position: relative;
  float: left;
  padding: 0 16px;
  overflow: hidden; }

.g__column-12 {
  width: 100%; }

.g__column-11 {
  width: 91.6667%; }

.g__column-10 {
  width: 83.3333%; }

.g__column-9 {
  width: 75%; }

.g__column-8 {
  width: 66.6667%; }

.g__column-7 {
  width: 58.3333%; }

.g__column-6 {
  width: 50%; }

.g__column-5 {
  width: 41.6667%; }

.g__column-4 {
  width: 33.3333%; }

.g__column-3 {
  width: 25%; }

.g__column-2 {
  width: 16.6667%; }

.g__column-1 {
  width: 8.3333%; }

@media only screen and (max-width: 1600px) {
  .g__column-3 {
    width: 50%; } }
.material-icons {
  font-size: 36px;
  margin: 12px;
  color: #F7FFF7;
  line-height: 1.42;
  cursor: pointer; }

@media only screen and (max-width: 768px) {
  .material-icons {
    font-size: 24px; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  background-image: url("../assets/images/background.svg");
  background-size: 960px 540px; }

main, header, footer {
  width: 60%;
  margin: 0 auto;
  max-width: 1140px; }

.clear {
  clear: both; }

.clear:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.headerbar {
  width: 100vw;
  height: 75px;
  background: #525170; }

header {
  height: 75px;
  padding: 24px 0 24px 0;
  margin-top: -75px; }

header > h2 {
  float: left; }

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.nav-items a {
  margin-left: 24px; }

.hamburger {
  display: none;
  color: #F7FFF7; }

.cross {
  display: none;
  color: #F7FFF7;
  margin-right: 0;
  z-index: 7; }

@media only screen and (max-width: 975px) {
  header {
    width: 60vw; }

  .hamburger {
    display: inline-block;
    float: right;
    margin: 0;
    margin-top: -1.1vh;
    width: 25px; }

  .main-nav {
    position: fixed;
    width: 100vw;
    height: 100%;
    display: block;
    background: #525170;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateX(-100vw);
    margin-top: 75px; }

  .nav--isvisible {
    transform: translateX(0);
    transition: all 350ms ease-in 0s; }

  .nav--away {
    transition: all 350ms ease-in 0s; }

  .ham--invisible {
    display: none;
    transition: all 150ms ease-out 0s; }

  .cross--isvisible {
    display: inline-block;
    float: right;
    margin: 0;
    width: 25px;
    margin-top: -1.1vh; }

  .nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    margin-left: 45vw;
    align-items: flex-start; }

  .nav-items > a {
    margin-top: 5vh;
    text-align: left;
    margin-left: 0; } }
@media only screen and (max-width: 500px) {
  .cross--isvisible {
    margin-right: 36px; }

  .hamburger {
    margin-right: 36px; }

  header > h2 {
    margin-left: 12px; } }
body {
  font-family: 'Quicksand', sans-serif;
  color: #F7FFF7; }

p, input, button, textarea {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.42;
  color: #F7FFF7; }

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.42; }

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.42; }

h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.42; }

a {
  text-decoration: none;
  color: #F7FFF7;
  transition: 0.5s;
  line-height: 1.42;
  font-size: 1.125em; }

a:hover {
  color: #5DFDCB; }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.375em; }

  h2 {
    font-size: 1.3em; }

  h3, h4, h5, h6, a {
    font-size: 1.2em; }

  body, input, button, textarea {
    font-size: 0.75em; } }
.column-container {
  background: #525170;
  border-radius: 12px;
  padding: 0 5%;
  margin: 350px auto; }

.column-, .column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8 {
  display: block;
  float: left;
  overflow: hidden;
  padding: 0.5vw 1vw 0.5vw 1vw; }
  .column-1 {
    width: 100%; }
  .column-2 {
    width: 50%; }
  .column-3 {
    width: 33.333334%; }
  .column-4 {
    width: 25%; }
  .column-5 {
    width: 20%; }
  .column-6 {
    width: 16.666667%; }
  .column-7 {
    width: 14.2857143%; }
  .column-8 {
    width: 12.5%; }
  .column- > p, .column-1 > p, .column-2 > p, .column-3 > p, .column-4 > p, .column-5 > p, .column-6 > p, .column-7 > p, .column-8 > p, .column- h2, .column-1 h2, .column-2 h2, .column-3 h2, .column-4 h2, .column-5 h2, .column-6 h2, .column-7 h2, .column-8 h2 {
    text-align: left; }

button:focus {
  outline: 0; }

.btn {
  display: block;
  width: 200px;
  height: 60px;
  margin: 48px 12px 12px O;
  background: none;
  border: 2px solid #5DFDCB;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.250em;
  color: #F7FFF7;
  transition: 0.5s; }

.btn:hover {
  background: #5DFDCB;
  font-weight: bold; }

.btn:active {
  animation-name: button-hover;
  animation-duration: 0.5s;
  animation-timing-function: ease; }

@keyframes button-hover {
  50% {
    transform: scale(0.9); } }
form > input, textarea {
  border: none;
  border-style: none;
  border-radius: 10px;
  width: 95%;
  height: 50px;
  background: #525170;
  padding: 12px;
  margin: 24px 2.5% 24px 2.5%; }

textarea {
  resize: none;
  width: 95%;
  margin: 24px 2.5% 24px 2.5%;
  height: 344px; }

textarea:focus, input:focus {
  background: #5C5B7F;
  outline: none; }

@media only screen and (max-width: 976px) {
  textarea, form > input {
    width: 100%;
    margin: 24px 0 24px 0; } }
.rocket {
  display: block;
  margin: 100px auto;
  max-width: 150px;
  animation-name: rocket-lives;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite; }

@keyframes rocket-lives {
  0%,
  100% {
    transform: translate(0, 0) scale(1); }
  50% {
    transform: translate(0, 20px) scale(1); } }
.planet {
  z-index: -1;
  width: 30vw;
  min-width: 300px;
  position: relative;
  left: -20px;
  top: 7vh;
  margin-right: 70vw; }

.moon {
  margin-bottom: -24px;
  width: 680px;
  margin: 0 auto;
  display: block; }

.card__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 48px 0; }

.card {
  background: #525170;
  border-radius: 12px;
  padding: 23px 24px; }

.p__card:hover {
  transform: scale(1.01);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.p__card > img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }

.p__card {
  display: block;
  background: #525170;
  width: 250px;
  border-style: none;
  border-radius: 12px;
  float: left;
  margin: 12px;
  height: 375px;
  transition: 0.5s; }

.p__card__text {
  padding: 0 12px 12px 12px;
  overflow: hidden; }

.p__card__text h2 {
  font-size: 1.5em; }

.p__card__text p {
  display: block;
  position: relative;
  bottom: 0;
  margin-bottom: 24px;
  margin-top: 12px; }

.d__card, .d__cardr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 48px 12px 48px 12px; }

.d__card__text, .d__card__textr {
  background: #525170;
  width: 30%;
  border-style: none;
  border-radius: 12px 0 0 12px;
  overflow: hidden;
  padding: 24px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.textoverflow-fix {
  max-height: 364px;
  overflow: hidden;
  margin-bottom: -12px; }

.d__card__text h3 > a, .d__card__textr h3 > a {
  display: block;
  position: relative;
  bottom: -24px;
  float: right;
  color: #5DFDCB; }

.d__card__picture, .d__card__picturer {
  border-style: none;
  border-radius: 0 12px 12px 0;
  overflow: hidden;
  max-height: 400px; }

.d__card__picture > img, .d__card__picturer > img {
  border-style: none;
  border-radius: 0 12px 12px 0; }

.d__card__textr {
  border-radius: 0 12px 12px 0; }

.d__card__picturer {
  border-radius: 12px 0 0 12px; }

.d__card__picturer img {
  border-radius: 12px 0 0 12px; }

.d__card__textr h3 > a {
  display: block;
  position: relative;
  bottom: -24px;
  float: left;
  color: #5DFDCB; }

@media only screen and (max-width: 1024px) {
  .d__card, .d__cardr {
    flex-direction: column;
    margin: 48px 0; }

  .d__card__text, .d__card__textr, .d__card__textr {
    width: 100%;
    margin: 0;
    border-radius: 12px 12px 0 0; }

  .d__card__picture, .d__card__picturer, .d__card__picturer {
    width: 100%;
    margin: 0;
    border-radius: 0 0 12px 12px; }

  .d__card__picture > img, .d__card__picturer > img, .d__card__picturer > img {
    border-radius: 0 0 12px 12px; }

  .d__card__text h3 > a, .d__card__textr h3 > a {
    margin-top: 12px; }

  .d__cardr {
    flex-direction: column-reverse; } }
.first-img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }

.long__card {
  display: block;
  background: #525170;
  width: 400px;
  border-style: none;
  border-radius: 12px;
  float: left;
  margin: 12px; }

.long__card img {
  width: 100%; }

.long__card__text {
  padding: 0 12px 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  overflow: hidden;
  white-space: nowrap;
  margin: 12px; }

.long__card__text p {
  float: right; }

.s__bubble {
  font-size: 1.1em;
  line-height: 1.42;
  margin: 0 auto 75px auto;
  display: flex;
  align-items: center;
  width: 75%;
  background: #525170;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 12px 12%; }

.pic__text > h3 {
  margin-top: 24px; }

@media only screen and (max-width: 768px) {
  .s__bubble {
    width: 100%; } }
.banner {
  text-align: center; }

.typ-container {
  background: #525170;
  border-style: none;
  border-radius: 8px;
  padding: 12px 0 36px 36px; }

.colorsplash {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  border-style: none;
  margin: 24px;
  display: table; }

.colorsplash > p {
  text-align: center;
  display: table-cell;
  vertical-align: middle; }

.cyan {
  background: #5DFDCB; }

.mintwhite {
  background: #F7FFF7;
  color: #525170; }

.lightblue {
  background: #525170; }

/*# sourceMappingURL=styleguide.css.map */
