
//ABOUT

.abt__box {
  margin-top: 75px;


}

.abt__box0 {


  margin: 0 auto 75px auto;
}

.abt__box1 {
  float: left;
  width: 35%;
}

.abt__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

@media only screen and (max-width: 1500px) {
  .abt__box1 {
    width: 100%;
  }
}

// CONTACT
.fullwidth {
  margin: 75px auto;
}

.former h2 {
  text-align: center;
  margin-bottom: 48px;
}
.former p {
  text-align: center;
}
.formbox {
  float: right;
  width: 50%;
  margin-top: 36px;
}

.formbox1 {
  float: right;
  width: 50%;
  margin-top: 36px;
}

@media only screen and (max-width:976px) {
  .formbox {
    width: 100%;
    margin-top: 0;
  }
  .formbox1 {
    width: 100%;
  }

  .fullwidth {
    padding: 0;
  }
}

// DIENSTEN
.diensten h1{
  text-align: center;
}
// PORTFOLIO

.portfolio-container {
  border-radius: 12px;
  padding: 0 5% ;
  margin: 350px auto;
  text-align: center;
}

.portfolio-item {
  background: $text-background;
  padding: 20px 0 20px 0;
  border-radius: 12px;
  margin:0 19px;
}

.portfolio-item img {
  width: 100%;
}

.portfolio-item p, .portfolio-item h2 {
  padding: 12px;
}
