
//ABOUT

.abt__box {
  margin-top: 75px;


}

.abt__box0 {


  margin: 0 auto 75px auto;
}

.abt__box1 {
  float: left;
  width: 35%;
}

.abt__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

@media only screen and (max-width: 1500px) {
  .abt__box1 {
    width: 100%;
  }
}

// CONTACT
.fullwidth {
  margin: 75px auto;
}

.former h2 {
  text-align: center;
  margin-bottom: 48px;
}
.former p {
  text-align: center;
}
.formbox {
  float: right;
  width: 50%;
  margin-top: 36px;
}

.formbox1 {
  float: right;
  width: 50%;
  margin-top: 36px;
}

.g__column .material-icons {
  float:right;
  margin-top: 50px;
  border-radius: 0;
}

@media only screen and (max-width:976px) {
  .formbox {
    width: 100%;
    margin-top: 0;
  }
  .formbox1 {
    width: 100%;
  }

  .fullwidth {
    padding: 0;
  }
}

// DIENSTEN

.diensten h1{
  text-align: center;
}
// PORTFOLIO-DETAIL
.ppic {
  width: 45%;
}

.pbannerpic {
  width: 75%;
  margin-top: 50px;
  float: right;
  margin-bottom: 50px;

}

.p__box-1 {
  margin-top: 200px;
  float: right;
  width: 50%;
  max-height: 200px;
}

.p__box-2 {
  margin-top: 50px;
  float: left;
  width: 20%;
  max-height: 442px;
}

@media only screen and (max-width:1360px) {
  .p__box-2 {
    width: 100%;
  }

  .pbannerpic {
    width: 100%;
  }
}

@media only screen and (max-width:1550px) {
  .p__box-1 {
    width: 100%;
    margin-top: 50px;
  }

  .ppic {
    width: 100%;
  }
}
