
//about

.abt__box {
  margin-top: 75px;

}
.abt__box1 {
  float: left;
  width: 30%;
}
.abt__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
