@charset 'utf-8';

@import
"core/real-grid.scss",
"elements/icons.scss",
"elements/colors.scss",
"core/page.scss",
"core/navigation.scss",
"core/typography.scss",
"core/semi-grid.scss",
"elements/buttons.scss",
"elements/forms.scss",
"background/space.scss",
"elements/misc.scss",
"position.scss",
"elements/cards.scss",
"core/portfolio-grid.scss";

//MAIN

// MAIN ELEMENTS

.quote {
  margin-right: 10px;

}

.quote h1, .quote p {
  text-align: right;
  margin: 2px;
}
// TINY DISPLAY

@media only screen and (max-width: 975px) {
  .moon {
    width: 50vw;
  }
}

// TABLET

@media only screen and (max-width: 768px) {

  .column-3 {
    width: 100%;
  }
  .planet {
    top: 100px;
    left: -100px;
  }


}

// PHONE

@media only screen and (max-width: 500px) {
  main, footer, header {
    width: 100vw;
  }
  .column-container {
    width: 100vw;
  }

  .column-3 {
    width: 100%;
    margin-top: 5%;
  }

  .rocket {
    width: 75px;
  }

}
