@import

"core/navigation.scss",
"core/typography.scss",
"core/semi-grid.scss",
"elements/buttons.scss",
"elements/colors.scss",
"elements/icons.scss",
"elements/forms.scss",
"background/space.scss";

//MAIN

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: url("../assets/images/background.svg");
  background-size: 960px 540px;
}

main, header, footer {
  width: 60vw;
  margin: 0 auto;
}

.clear {
  clear:both;
}

// MAIN ELEMENTS

.quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 10px;

}

.quote h1, p {
  text-align: right;
  margin: 2px;
}
// TABLET

@media only screen and (max-width: 768px) {

  .column-container {
    flex-direction: column;
  }

  .column-3 {
    width: 100%;
  }
  .planet {
    top: 100px;
    left: -100px;
  }
}

// PHONE

@media only screen and (max-width: 425px) {
  main, header, footer {
    width: 100vw;
  }
  .column-container {
    width: 100vw;
  }

  .column-3 {
    width: 100%;
    margin-top: 5%;
  }
}
