@charset 'utf-8';

@import
"core/real-grid.scss",
"elements/icons.scss",
"elements/colors.scss",
"core/page.scss",
"core/navigation.scss",
"core/typography.scss",
"core/semi-grid.scss",
"elements/buttons.scss",
"elements/forms.scss",
"background/space.scss",
"elements/cards.scss",
"core/portfolio-grid.scss";

.banner {
  text-align: center;
}
.typ-container {
  background: $text-background;
  border-style: none;
  border-radius: 8px;
  padding: 12px 0 36px 36px;
}
.colorsplash {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  border-style: none;
  margin: 24px;
  display: table;

}

.colorsplash > p {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.cyan {
  background:#5DFDCB;
}

.mintwhite {
  background:#F7FFF7;
  color:#525170;
}

.lightblue {
  background:#525170;

}
