// Rocket
$divwidthrocket: 150px;
$rocketscale:1;
.rocket {
  display: block;
  margin: 100px auto;
  max-width: $divwidthrocket;
  animation-name: rocket-lives;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes rocket-lives {
  0%,
  100% {
    transform: translate(0, 0) scale($rocketscale);
  }
  50% {
    transform: translate(0, 20px) scale($rocketscale);
  }
}


// Planet

.planet {
  z-index: -1;
  width: 30vw;
  min-width: 300px;
  position: relative;
  left: -20px;
  top: 7vh;
  margin-right: 70vw;
}

// moon

.moon {
  margin-bottom: -24px;
  width: 680px;
  margin: 0 auto;
  display: block;
}
