
.headerbar {
	width: 100vw;
	height: 75px;
	background: $text-background;
}

header {
	height: 75px;
	padding: 24px 0 24px 0;
	margin-top: -75px;
}

header > h2 {
	float: left;
}

.main-nav {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.nav-items a {
	margin-left: 24px;
}

.hamburger {
	display: none;
	color: $mintwhite;
}

.cross {
	display: none;
	color: $mintwhite;
	margin-right: 0;
	z-index: 7;
}

// RESPONSIVE

@media only screen and (max-width: 975px) {
	header {
		width: 60vw;
	}



	.hamburger {
		display: inline-block;
		float: right;
		margin: 0;
		margin-top: -1.1vh;
		width: 25px;
	}

	.main-nav {
		position: fixed;
		width: 100vw;
		height: 100%;
		display: block;
		background: $text-background;
		top: 0;
		left: 0;
		z-index: 2;
		transform: translateX(-100vw);
		margin-top: 75px;
	}

	.nav--isvisible {
		transform: translateX(0);
		transition: all 350ms ease-in 0s;
	}

	.nav--away {
		transition: all 350ms ease-in 0s;
	}

	.ham--invisible {
		display: none;
		transition: all 150ms ease-out 0s;
	}

	.cross--isvisible {
		display: inline-block;
		float: right;
		margin: 0;
		width: 25px;
		margin-top: -1.1vh;
	}

	.nav-items {
		display: flex;
		flex-direction: column;
		margin-top: 30vh;
		margin-left: 45vw;
		align-items: flex-start;
	}

	.nav-items > a {
		margin-top: 5vh;
		text-align: left;
		margin-left: 0;
	}
}

@media only screen and (max-width: 500px) {
	.cross--isvisible {
		margin-right: 36px;
	}
	.hamburger {
		margin-right: 36px;
	}

	header > h2 {
		margin-left: 12px;
	}
}
