header {
	margin-top: 1.1vh;
	display: flex;
	justify-content: space-between;
	align-items:baseline;
	height: 50px;
}

.main-nav {
	display: flex;
	justify-content: flex-end;
}

.main-nav > a, i {
	margin-left: 25px;
}

#hamburger {
	display: none;
	margin: 0;
	position: relative;
	top: 8px;
}

@media only screen and (max-width: 768px) {

	.main-nav > a {
		display: none;
	}
	#hamburger {
		display: block;

	}
}
