* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}


body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: url("../assets/images/background.svg");
  background-size: 960px 540px;
}

main, header, footer {
  width: 60vw;
  margin: 0 auto;
}

footer {
  display:flex;
  justify-content: center;
}

.clear {
  clear:both;
}
