.portfolio-container {
  border-radius: 12px;
  padding: 0 5% ;
  margin: 350px auto;
  text-align: center;
}

.portfolio-item {
  background: $text-background;
  padding: 20px 0 20px 0;
  border-radius: 12px;
  margin:0 19px;
}

.portfolio-item img {
  width: 100%;
}

.portfolio-item p, .portfolio-item h2 {
  padding: 12px;
}
