@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body, input, button, textarea,  {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.42;
  color: #F7FFF7;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.42;
}

h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.42;
}

a {
  text-decoration: none;
  color: #F7FFF7;
  transition: 0.5s;
  line-height: 1.42;
}

a:hover {
  color:#5DFDCB;
}
// TABLET + PHONE

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 24px;
  }

  h2, h3, h4, h5, h6, a {
    font-size: 18px;
  }

  body, input, textarea {
    font-size: 14px;
  }
}
