button:focus {
  outline:0;
}

$btn-soft-height-radius: 60px;
.btn {
  display: block;
  width: 200px;
  height: $btn-soft-height-radius;
  margin: 48px 12px 12px O;
  background: none;
  border: 2px solid #5DFDCB;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.250em;
  color: #F7FFF7;
  transition: 0.5s;
}

.btn:hover {
  background: #5DFDCB;
  font-weight: bold;
}

.btn:active {
  animation-name: button-hover;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

@keyframes button-hover {
  50% {
    transform: scale(0.9);
  }
}
