// CONTAINER

.card__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

// PORTFOLIO

.p__card > img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.p__card {
  display: block;
  background: #525170;
  width: 250px;
  border-style: none;
  border-radius: 12px;
  float: left;
  margin: 12px;
  height: 362px;
}

.p__card__text {
  padding: 0 12px 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  overflow: hidden;
}

.p__card__text p {
  float: right;
}


// DIENSTEN

.d__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 48px 12px 48px 12px;
}

.d__card__text {
  background: $text-background;
  width: 30%;
  border-style: none;
  border-radius: 12px 0 0 12px;
  overflow: hidden;
  padding: 24px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textoverflow-fix {
  max-height: 364px;
  overflow: hidden;
  margin-bottom: -12px;
}

.d__card__text h3 > a {
  display: block;
  position: relative;
  bottom: -24px;
  float:right;
  color: $cyan;
}

.d__card__picture {
  border-style: none;
  border-radius: 0 12px 12px 0;
  overflow:hidden;
  max-height: 400px;
}

.d__card__picture > img {
  border-style: none;
  border-radius: 0 12px 12px 0;
}

// TEXT ON THE RIGHT

.d__cardr {
  @extend .d__card;

}
.d__card__textr {
  @extend .d__card__text;
  border-radius: 0 12px 12px 0;
}

.d__card__picturer {
  @extend .d__card__picture;
  border-radius: 12px 0 0 12px;
}

.d__card__picturer img {
  border-radius: 12px 0 0 12px;
}

.d__card__textr h3 > a {
  display: block;
  position: relative;
  bottom: -24px;
  float:left;
  color: $cyan;
}

// RESPONSIVE

@media only screen and (max-width: 1024px) {
  .d__card {
    flex-direction: column;
    margin: 48px 0;
  }

  .d__card__text, .d__card__textr {
    width: 100%;
    margin: 0;
    border-radius: 12px 12px 0 0;
  }

  .d__card__picture, .d__card__picturer {
    width: 100%;
    margin: 0;
    border-radius: 0 0 12px 12px;
  }

  .d__card__picture > img, .d__card__picturer > img {
    border-radius: 0 0 12px 12px;
  }

  .d__card__text h3 > a {
    margin-top: 12px;
  }

  .d__cardr {
    flex-direction: column-reverse;
  }
}



// LONG CARD

.first-img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.long__card {
  display: block;
  background: #525170;
  width: 400px;
  border-style: none;
  border-radius: 12px;
  float: left;
  margin: 12px;
}

.long__card img {
  width: 100%;
}

.long__card__text {
  padding: 0 12px 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  overflow: hidden;
  white-space: nowrap;
  margin: 12px;

}

.long__card__text p {
  float: right;
}

// SPEECH BUBBLE

.s__bubble {
  font-size: 1.1em;
  line-height: 1.42;
  margin: 0 auto 75px auto;
  display: flex;
  align-items: center;
  width: 75%;

  background: $text-background;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 12px 12%;
}

.pic__text > h3 {
  margin-top: 24px;
}

@media only screen and (max-width: 768px) {
  .s__bubble {
    width: 100%;
  }
}
