// PEOPLE
.employee_column {
  margin-top: 50px;
}

.employee_column > h2 {
  text-align: center;
}
.employeebox {
  display: flex;
  justify-content: center;



}
.employees {
  max-width: 250px;
  width: 93.5%;
  min-width: 100px;
  margin: 48px 6.5%;


}
.picture > img {
  border-style: none;
  border-radius: 50%;
  opacity: 0.3;
  transition: 0.5s;
  max-width: 250px;
  width: 100%;
  min-width: 100px;
}

.pic__text {
  text-align: center;
}

.picture > img:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.active--pic > img {
  opacity: 1;

}

.inactive--pic > img {
  opacity: 0.3;
}



// MAP

#map {
  pointer-events: none;
  float: right;
  margin: 24px 0;
  height: 400px;
  width: 60%;
  border-style: none;
  border-radius: 12px;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-mask-image: -webkit-radial-gradient(white, black);

}

@media only screen and (max-width: 1500px) {
  #map {
    width: 100%;
  }
}



@media only screen and (max-width: 500px) {
  .employees {
    margin: 5%;
    width: 95%;
  }
}


img, iframe {
  border-style: none;
  border-radius: 12px;
}

iframe {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  margin-bottom:50px;
}
